/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* Video Container */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Header Styles */
.header {
    background: rgba(0, 0, 0, 0.7);
}

.navbar-nav .nav-link {
    color: white;
    font-weight: bold;
}

/* Hero Section */
.hero-logo {
    max-width: 200px;
    margin-bottom: 1rem;
}

.hero-button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

.hero-button:hover {
    background: #555;
}

/* Section Styles */
.section {
    padding: 1rem 1rem; /* Minska padding */
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.9); /* Vit, lätt transparent bakgrund */
    backdrop-filter: blur(10px); /* För att ge en suddig effekt på bakgrunden */
}

#how-it-works {
    margin-top: 100vh; /* Flytta ner den första sektionen */
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Divider Styles */
.section-divider {
    height: 1px;
    background: #000;
    margin: 0;
    margin-bottom: -1px; /* Förhindra extra mellanrum */
}

/* Form Styles */
.quote-form {
    display: flex;
    flex-direction: column;
}

.quote-form label {
    margin: 0.5rem 0;
}

.quote-form input, .quote-form textarea {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
}

.form-button {
    padding: 0.5rem 1rem;
    border: none;
    background: #333;
    color: white;
    cursor: pointer;
}

.form-button:hover {
    background: #555;
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .section {
        padding: 0.5rem 0.5rem; /* Ytterligare minskad padding för mobiler */
    }

    .hero-logo {
        max-width: 150px;
    }

    .hero-button {
        padding: 0.3rem 0.8rem;
        margin: 0.3rem;
    }
}