body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.8); /* Grå bar med genomskinlighet */
    padding: 10px 20px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}

.logo {
    height: 50px;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
}

#background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.services {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.service {
    text-align: center;
}

.service i {
    font-size: 40px;
    margin-bottom: 10px;
}
